## =========================
## .NET / Visual Studio
## =========================

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
artifacts/

# Logs
[Ll]og/
[Ll]ogs/
*.log
*.binlog

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.slnLaunch.user

# Visual Studio cache
.vs/

# VS Code / Rider
.vscode/
.idea/

# NuGet
*.nupkg
*.snupkg

# Test
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
CodeCoverage/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Temp
~$*
*~

# OS files
.DS_Store
Thumbs.db